.deletebtn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.5px 16px 9.5px 8px;
    gap: 8px;
    width: 80px;
    height: 30px;
    color: white;
    border: 1px solid #858D9D;
    border-radius: 8px;
    cursor: pointer;
    background-color: red;
}