.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 550px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  height: 600px;
  overflow: auto;
}

.modal_body {
  padding: 10px;
}

.modal_title {
  font-weight: bold;
  font-size: 40px;
}

.modal_body {
  font-size: 20px;
}

.submit_btn {
  margin: 10px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: #cdc7c7;
}

.room_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  border: black 2px solid;
  margin: 10px;
  padding: 10px;
}

.room_card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
